
.spacing {
   margin-bottom: 1rem; 
}

.sidenav {
    border: 1px solid black !important;
    
    padding: 1rem;
}

.card {
    width: 100%;
    height: 400px;
    color: black;
}

.tabpanel {
    color: black !important;
}